[Unit]
Description=HR-Bot-Sber
After=network.target

[Service]
User=root
Group=root
ExecStart=/app/sber-telegram-bot/.venv/bin/python main.py
WorkingDirectory=/app/sber-telegram-bot/
Restart=always
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target